*{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
}

body{
    color: black;
    background-image: url('./static/cool-background.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Roboto Condensed', sans-serif;
}

/* .sidebar{
    width: 190px;
    height: 100vh;
    float: left;
    position: absolute;
    background: whitesmoke;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
} */



.edit{
    font-size: 15px;
    cursor: pointer;
}